*{
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 35px;
}
.date{
  height: 25%;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.clock{
  display: flex;
  width: 100%;
  height: 75%;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 10.5px;
}
.numbers,.colon{
    min-width: 19%;
  height: 50%;
  color: white;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colon{
  color: black;
}
.Hours{
  background-color: red;
}
.mins{
  background-color: blue;
}
.secs{
  background-color: purple;
}
.hideSec{
  display:none;
}
.buttons{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttons button{
  width: max-content;
  height: 40px;
  padding: 0 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}
.buttons button:hover{
  background-color:rgba(0, 0, 0, 0.836);
}